{% comment %}
  Renders facets (filtering and sorting)

  Accepts:
  - results: {Object} Collection or Search object
  - enable_filtering: {Boolean} Show filtering when true
  - enable_sorting: {Boolean} Show sorting when true
  - filter_type: {String} Type of filter
  - paginate: {Object}
  - show_static_filters: {Boolean} Show static filters

  Usage:
  {% render 'facets', results: collection, enable_filtering: true, enable_sorting: true, filter_type: 'vertical', paginate: paginate %}
{% endcomment %}

{{ 'component-show-more.css' | asset_url | stylesheet_tag }}
{{ 'component-swatch-input.css' | asset_url | stylesheet_tag }}
{{ 'component-swatch.css' | asset_url | stylesheet_tag }}

<style>
  .facet-range__item ::-webkit-slider-thumb {
    background-image: url({{'icon-range-slider.svg'|asset_url}});
  }
</style>

{%- liquid
  assign sort_by = results.sort_by | default: results.default_sort_by
  assign total_active_values = 0
  if results.url
    assign results_url = results.url
  else
    assign terms = results.terms | escape
    assign results_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
  endif

  unless show_static_filters
    for filter in results.filters
      assign total_active_values = total_active_values | plus: filter.active_values.size
    endfor
  endunless
-%}

<div class='facets-container{% if filter_type == 'drawer' %} facets-container-drawer{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}'>
  {%- if filter_type == 'vertical' or filter_type == 'horizontal' -%}
    <facet-filters-form class='facets small-hide'>
      <form
        id='FacetFiltersForm'
        class='{% if filter_type == 'horizontal' %}facets__form{% else %}facets__form-vertical{% endif %}'
      >
        {%- if results.terms -%}
          <input type='hidden' name='q' value='{{ results.terms | escape }}'>
          <input name='options[prefix]' type='hidden' value='last'>
        {%- endif -%}

        {% if enable_filtering %}
          {% comment %} Heading is the first tabbable element on filter type horizontal {% endcomment %}
          <div
            id='FacetsWrapperDesktop'
            {% if filter_type == 'horizontal' %}
              class='facets__wrapper'
            {% endif %}
          >
            {%- if filter_type == 'horizontal' and results.filters != empty -%}
              <h2 class='facets__heading caption-large text-body' id='verticalTitle' tabindex='-1'>
                {{ 'products.facets.filter_by_label' | t }}
              </h2>
            {%- endif -%}
            {% comment %} Pills are right below the title for filter type vertical {% endcomment %}
            {%- if filter_type == 'vertical' -%}
              <div class='gender-filter'>
                <button class='tab-button font-primary nav' aria-selected='true'>
                  {{ 'general.tab_button.women' | t }}
                </button>
                <button class='tab-button font-primary nav'>
                  {{ 'general.tab_button.men' | t }}
                </button>
              </div>
              <div class='active-facets active-facets-desktop'>
                <div class='active-facets-vertical-filter'>
                  <facet-remove class='active-facets__button-wrapper'>
                    <h2
                      class='facets__heading facets__heading--vertical font-secondary mono-sm'
                      id='verticalTitle'
                      tabindex='-1'
                    >
                      {{ 'products.facets.active_filters' | t }}
                    </h2>
                    <a
                      href='{{ results_url }}'
                      class='active-facets__button-remove underlined-link font-primary buttons-sm'
                    >
                      <span>{{ 'products.facets.clear_all' | t }}</span>
                    </a>
                  </facet-remove>
                </div>
                {%- for filter in results.filters -%}
                  {%- for value in filter.active_values -%}
                    <facet-remove>
                      <a href='{{ value.url_to_remove }}' class='active-facets__button active-facets__button--light'>
                        <span class='active-facets__button-inner button button--tertiary font-secondary mono-sm'>
                          {{ filter.label | escape }}: {{ value.label | escape }}
                          {% render 'icon-close' %}
                          <span class='visually-hidden'>{{ 'products.facets.clear_filter' | t }}</span>
                        </span>
                      </a>
                    </facet-remove>
                  {%- endfor -%}
                  {% if filter.type == 'price_range' %}
                    {% assign min = filter.min_value.value %}
                    {% assign max = filter.max_value.value %}
                    {%- if min != null or max != null -%}
                      <facet-remove>
                        <a href='{{ filter.url_to_remove }}' class='active-facets__button active-facets__button--light'>
                          <span class='active-facets__button-inner button button--tertiary font-secondary mono-sm'>
                            {{ min | default: 0 | money }} - {{ max | default: filter.range_max | money }}
                            {% render 'icon-close' %}
                            <span class='visually-hidden'>{{ 'products.facets.clear_filter' | t }}</span>
                          </span>
                        </a>
                      </facet-remove>
                    {%- endif -%}
                  {% endif %}
                {%- endfor -%}
              </div>
            {%- endif -%}

            <script src='{{ 'show-more.js' | asset_url }}' defer='defer'></script>
            {% comment %} Filters for both horizontal and vertical filter {% endcomment %}
            {%- if show_static_filters -%}
              {%- render 'ss-filters', filter_type: filter_type, is_mobile: false -%}
            {%- else -%}
              {%- render 'facets-filters', filters: results.filters, filter_type: filter_type, is_mobile: false -%}
            {%- endif -%}
          </div>
          {% comment %} Pills after filtes on filter type horizontal {% endcomment %}
          {%- if filter_type == 'horizontal' -%}
            <div class='active-facets active-facets-desktop'>
              {%- for filter in results.filters -%}
                {%- for value in filter.active_values -%}
                  <facet-remove>
                    <a href='{{ value.url_to_remove }}' class='active-facets__button active-facets__button--light'>
                      <span class='active-facets__button-inner button button--tertiary font-secondary mono-sm'>
                        {{ filter.label | escape }}: {{ value.label | escape }}
                        {% render 'icon-close' %}
                        <span class='visually-hidden'>{{ 'products.facets.clear_filter' | t }}</span>
                      </span>
                    </a>
                  </facet-remove>
                {%- endfor -%}
                {% if filter.type == 'price_range' %}
                  {% assign min = filter.min_value.value %}
                  {% assign max = filter.max_value.value %}
                  {%- if min != null or max != null -%}
                    <facet-remove>
                      <a href='{{ filter.url_to_remove }}' class='active-facets__button active-facets__button--light'>
                        <span class='active-facets__button-inner button button--tertiary font-secondary mono-sm'>
                          {{ min | default: 0 | money }} - {{ max | default: filter.range_max | money }}
                          {% render 'icon-close' %}
                          <span class='visually-hidden'>{{ 'products.facets.clear_filter' | t }}</span>
                        </span>
                      </a>
                    </facet-remove>
                  {%- endif -%}
                {% endif %}
              {%- endfor -%}
              <facet-remove class='active-facets__button-wrapper'>
                <a href='{{ results_url }}' class='active-facets__button-remove underlined-link'>
                  <span>{{ 'products.facets.clear_all' | t }}</span>
                </a>
              </facet-remove>
            </div>
          {%- endif -%}
        {% endif %}

        {% if results.current_vendor or results.current_type %}
          <input type='hidden' name='q' value='{{ results.current_vendor }}{{ results.current_type }}'>
        {% endif %}

        {%- if filter_type == 'horizontal' -%}
          {% comment %} Sorting and product count are the last elements when filter type is horizontal {% endcomment %}
          {%- if enable_sorting -%}
            <div class='facet-filters sorting caption'>
              <div class='facet-filters__field'>
                <h2 class='facet-filters__label caption-large text-body'>
                  <label for='SortBy'>{{ 'products.facets.sort_by_label' | t }}</label>
                </h2>
                <div class='select'>
                  {%- assign sort_by = results.sort_by | default: results.default_sort_by -%}
                  <select
                    name='sort_by'
                    class='facet-filters__sort select__select caption-large'
                    id='SortBy'
                    aria-describedby='a11y-refresh-page-message'
                  >
                    {%- for option in results.sort_options -%}
                      <option
                        value='{{ option.value | escape }}'
                        {% if option.value == sort_by %}
                          selected='selected'
                        {% endif %}
                      >
                        {{ option.name | escape }}
                      </option>
                    {%- endfor -%}
                  </select>
                  {% render 'icon-caret' %}
                </div>
              </div>
            </div>
          {%- endif -%}
          <div class='product-count light' role='status'>
            <h2 class='product-count__text font-secondary mono-md'>
              <span id='ProductCountDesktop'>
                {%- if results.results_count -%}
                  {{ 'templates.search.results_with_count' | t: count: results.results_count }}
                {%- else -%}
                  {{ 'templates.search.results_with_count' | t: count: results.products_count }}
                {%- endif -%}
              </span>
            </h2>
            {%- render 'loading-spinner' -%}
          </div>
        {%- endif -%}
      </form>
    </facet-filters-form>
  {%- endif -%}
  <div
    class='product-count light{% if filter_type == 'vertical' or filter_type == 'horizontal' %} medium-hide large-up-hide{% endif %}'
    role='status'
  >
    <h2 class='product-count__text font-secondary mono-md'>
      <span id='ProductCount'>
        {%- if results.results_count -%}
          {{ 'templates.search.results_with_count' | t: count: results.results_count }}
        {%- else -%}
          {{ 'templates.search.results_with_count' | t: count: results.products_count }}
        {%- endif -%}
      </span>
    </h2>
    {%- render 'loading-spinner' -%}
  </div>
  {% comment %}  Drawer and mobile filter {% endcomment %}
  <menu-drawer
    class='mobile-facets__wrapper{% if filter_type == 'horizontal' or filter_type == 'vertical' %} medium-hide large-up-hide{% endif %}'
    data-breakpoint='mobile'
  >
    <details class='mobile-facets__disclosure disclosure-has-popup'>
      <summary class='mobile-facets__open-wrapper focus-offset'>
        <span
          role='button'
          class='mobile-facets__open-button font-primary heading-2-md{% if filter_type == 'drawer' and enable_filtering == false %} medium-hide large-up-hide{% endif %}'
        >
          {{ 'icon-sliders.svg' | inline_asset_content }}
          {{ 'products.facets.filter_and_sort' | t }}
        </span>
        <span tabindex='0' class='mobile-facets__close'>{%- render 'icon-close' -%}</span>
      </summary>
      <facet-filters-form>
        <form id='FacetFiltersFormMobile' class='mobile-facets'>
          <div class='mobile-facets__inner gradient'>
            <div class='mobile-facets__header page-width'>
              <div class='mobile-facets__header-inner'>
                <h2 class='mobile-facets__heading font-primary heading-1-md medium-hide large-up-hide'>
                  {%- if enable_filtering and enable_sorting -%}
                    {{ 'products.facets.filter_and_sort' | t }}
                  {%- elsif enable_filtering -%}
                    {{ 'products.facets.filter_button' | t }}
                  {%- elsif enable_sorting -%}
                    {{ 'products.facets.sort_button' | t }}
                  {%- endif -%}
                </h2>
                <h2 class='mobile-facets__heading small-hide'>
                  {%- if enable_filtering -%}
                    {{ 'products.facets.filter_button' | t }}
                  {%- endif -%}
                </h2>
              </div>
            </div>
            <div
              id='FacetsWrapperMobile'
              class='mobile-facets__main has-submenu gradient'
            >
              {%- if total_active_values > 0 -%}
                <div
                  id='Details-Mobile-ActiveFilters-{{ section.id }}'
                  class='mobile-facets__details page-width js-filter{% if filter_type == 'drawer' %} medium-hide large-up-hide{% endif %}'
                  data-index='mobile-active-filters'
                >
                  <div class='mobile-facets__summary'>
                    <div class='mobile-facets__active-filters'>
                      <span class='font-secondary mono-lg'>{{ 'products.facets.active_filters' | t }}</span>

                      <a href='{{ results_url }}' class='mobile-facets__clear underlined-link font-primary subtitle-sm'>
                        {{- 'products.facets.clear_all' | t -}}
                      </a>
                    </div>
                  </div>
                  <div id='Mobile-ActiveFilters-Pills' class='mobile-facets__active-filters-container'>
                    <div class='mobile-facets__active-filters-pills'>
                      {%- for filter in results.filters -%}
                        {%- for value in filter.active_values -%}
                          <a
                            href='{{ value.url_to_remove }}'
                            class='active-facets__button active-facets__button--light'
                          >
                            <span class='active-facets__button-inner button button--tertiary font-secondary mono-sm'>
                              {{ filter.label | escape }}: {{ value.label | escape }}
                              {% render 'icon-close' %}
                              <span class='visually-hidden'>{{ 'products.facets.clear_filter' | t }}</span>
                            </span>
                          </a>
                        {%- endfor -%}
                      {%- endfor -%}
                    </div>
                  </div>
                </div>
              {% endif %}

              {%- if enable_sorting -%}
                <div
                  id='Details-Mobile-SortBy-{{ section.id }}'
                  class='mobile-facets__details page-width js-filter{% if filter_type == 'drawer' %} medium-hide large-up-hide{% endif %}'
                  data-index='mobile-sort'
                >
                  <div class='mobile-facets__summary'>
                    <div class='mobile-facets__sort'>
                      <span class='font-secondary mono-lg'>{{ 'products.facets.sort_by_label' | t }}</span>

                      <button
                        class='mobile-facets__accordion-button ignore-close'
                        aria-expanded='false'
                        aria-controls='Mobile-SortBy-Options'
                      >
                        {{ 'icon-accordion-expanded.svg' | inline_asset_content }}
                        {{ 'icon-accordion-collapsed.svg' | inline_asset_content }}
                      </button>
                    </div>
                  </div>
                  <div id='Mobile-SortBy-Options' class='mobile-facets__sort-options-container' hidden>
                    <div class='mobile-facets__sort-options'>
                      {%- for option in results.sort_options -%}
                        <div class='radio'>
                          <input
                            type='radio'
                            id='SortBy-Option-{{ forloop.index }}'
                            name='sort_by'
                            value='{{ option.value | escape }}'
                            {% if option.value == sort_by %}
                              checked='checked'
                            {% endif %}
                          >
                          <label for='SortBy-Option-{{ forloop.index }}' class='font-primary subtitle-sm'>
                            {{- option.name | escape -}}
                          </label>
                        </div>
                      {%- endfor -%}
                    </div>
                  </div>
                </div>
              {%- endif -%}

              {%- if enable_filtering -%}
                {%- if show_static_filters -%}
                  {%- render 'ss-filters', filter_type: filter_type, is_mobile: true -%}
                {%- else -%}
                  {%- render 'facets-filters', filters: results.filters, filter_type: filter_type, is_mobile: true -%}
                {%- endif -%}
              {%- endif -%}

              <div class='mobile-facets__footer'>
                <p class='mobile-facets__count font-secondary mono-sm'>
                  {%- if results.results_count -%}
                    {{ 'templates.search.results_with_count' | t: count: results.results_count }}
                  {%- else -%}
                    {{ 'templates.search.results_with_count' | t: count: results.products_count }}
                  {%- endif -%}
                </p>

                <button
                  type='button'
                  class='button button--primary'
                  onclick="this.closest('.mobile-facets__wrapper').querySelector('summary').click()"
                >
                  {{ 'products.facets.apply' | t }}
                </button>
              </div>
            </div>

            {% if results.current_vendor or results.current_type %}
              <input type='hidden' name='q' value='{{ results.current_vendor }}{{ results.current_type }}'>
            {% endif %}

            {%- if results.terms -%}
              <input type='hidden' name='q' value='{{ results.terms | escape }}'>
              <input name='options[prefix]' type='hidden' value='last'>
            {%- endif -%}
          </div>
        </form>
      </facet-filters-form>
    </details>
  </menu-drawer>

  {% comment %} Sort, product count and filter pills at the end when filter is type of Drawer for the correct tabbing order {% endcomment %}
  {%- if enable_sorting and filter_type == 'drawer' -%}
    <facet-filters-form class='facets small-hide'>
      <form id='FacetSortDrawerForm' class='facets__form'>
        <div class='facet-filters sorting caption small-hide'>
          <div class='facet-filters__field'>
            <h2 class='facet-filters__label caption-large text-body'>
              <label for='SortBy'>{{ 'products.facets.sort_by_label' | t }}</label>
            </h2>
            <div class='select'>
              {%- assign sort_by = results.sort_by | default: results.default_sort_by -%}
              <select
                name='sort_by'
                class='facet-filters__sort select__select caption-large'
                id='SortBy'
                aria-describedby='a11y-refresh-page-message'
              >
                {%- for option in results.sort_options -%}
                  <option
                    value='{{ option.value | escape }}'
                    {% if option.value == sort_by %}
                      selected='selected'
                    {% endif %}
                  >
                    {{ option.name | escape }}
                  </option>
                {%- endfor -%}
              </select>
              {% render 'icon-caret' %}
            </div>
          </div>
        </div>

        {% if results.current_vendor or results.current_type %}
          <input type='hidden' name='q' value='{{ results.current_vendor }}{{ results.current_type }}'>
        {% endif %}

        {%- if results.terms -%}
          <input type='hidden' name='q' value='{{ results.terms | escape }}'>
          <input name='options[prefix]' type='hidden' value='last'>
        {%- endif -%}
      </form>
    </facet-filters-form>
  {%- endif -%}
  {%- if filter_type == 'drawer' -%}
    <facet-filters-form class='facets facets-pill small-hide'>
      <form id='FacetFiltersPillsForm' class='facets__form'>
        <div class='active-facets active-facets-desktop'>
          {%- for filter in results.filters -%}
            {%- for value in filter.active_values -%}
              <facet-remove>
                <a href='{{ value.url_to_remove }}' class='active-facets__button active-facets__button--light'>
                  <span class='active-facets__button-inner button button--tertiary font-secondary mono-sm'>
                    {{ filter.label | escape }}: {{ value.label | escape }}
                    {% render 'icon-close' %}
                    <span class='visually-hidden'>{{ 'products.facets.clear_filter' | t }}</span>
                  </span>
                </a>
              </facet-remove>
            {%- endfor -%}

            {%- if filter.type == 'price_range' -%}
              {% assign min = filter.min_value.value %}
              {% assign max = filter.max_value.value %}
              {%- if min != null or max != null -%}
                <facet-remove>
                  <a href='{{ filter.url_to_remove }}' class='active-facets__button active-facets__button--light'>
                    <span class='active-facets__button-inner button button--tertiary font-secondary mono-sm'>
                      {{ min | default: 0 | money }} - {{ max | default: filter.range_max | money }}
                      {% render 'icon-close' %}
                      <span class='visually-hidden'>{{ 'products.facets.clear_filter' | t }}</span>
                    </span>
                  </a>
                </facet-remove>
              {%- endif -%}
            {%- endif -%}
          {%- endfor -%}
          <facet-remove class='active-facets__button-wrapper'>
            <a href='{{ results_url }}' class='active-facets__button-remove underlined-link'>
              <span>{{ 'products.facets.clear_all' | t }}</span>
            </a>
          </facet-remove>
        </div>
      </form>
    </facet-filters-form>
  {%- endif -%}
</div>

<div class='gender-filter medium-hide large-up-hide'>
  <button class='tab-button font-primary nav' aria-selected='true'>
    {{ 'general.tab_button.women' | t }}
  </button>
  <button class='tab-button font-primary nav'>
    {{ 'general.tab_button.men' | t }}
  </button>
</div>
