{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}
{{ 'full-width-text-image.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- liquid
  assign fetch_priority = 'auto'
  if section.index == 1
    assign fetch_priority = 'high'
  endif
  if section.settings.color_scheme == section.settings.section_color_scheme and section.settings.content_layout == 'no-overlap'
    assign remove_color_classes = true
  endif
-%}

{% assign top_content_block_size = 0 %}
{% for block in section.blocks %}
  {% if block.type == 'top_content' %}
    {% assign top_content_block_size = top_content_block_size | plus: 1 %}
  {% endif %}
{% endfor %}

<div class='full-width-text-image-section section-{{ section.id }}-padding gradient color-{{ section.settings.section_color_scheme }}'>
  <div class='{% if section.settings.full_width %}full-width{% else %}page-width{% endif %}'>
    <div class='image-with-text image-with-text--{{ section.settings.content_layout }} isolate{% if settings.text_boxes_border_thickness > 0 and settings.text_boxes_border_opacity > 0 and settings.media_border_thickness > 0 and settings.media_border_opacity > 0 %} collapse-borders{% endif %}{% unless section.settings.color_scheme == section.settings.section_color_scheme and settings.media_border_thickness > 0 and settings.text_boxes_shadow_opacity == 0 and settings.text_boxes_border_thickness == 0 or settings.text_boxes_border_opacity == 0 %} collapse-corners{% endunless %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}'>
      <div class='image-with-text__grid grid grid--gapless grid--1-col grid--{% if section.settings.desktop_image_width == 'medium' %}2-col-tablet{% else %}3-col-tablet{% endif %}{% if section.settings.layout == 'text_first' %} image-with-text__grid--reverse{% endif %}'>
        <div class='image-with-text__media-item image-with-text__media-item--{{ section.settings.desktop_image_width }} image-with-text__media-item--top grid__item'>
          <div
            class='image-with-text__media image-with-text__media--{{ section.settings.height }} global-media-settings{% unless remove_color_classes %} gradient color-{{ section.settings.color_scheme }}{% else %} background-transparent{% endunless %}{% if section.settings.image != blank or section.settings.mobile_image != blank %} media{% else %} image-with-text__media--placeholder placeholder{% endif %}{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}'
            {% if section.settings.height == 'adapt' and section.settings.image != blank %}
              style='padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;'
            {% endif %}
          >
            {%- if section.settings.image != blank or section.settings.mobile_image != blank -%}
              {%- if section.settings.image_behavior == 'ambient' or section.settings.image_behavior == 'zoom-in' -%}
                {%- assign widths = '198, 432, 642, 900, 1284, 1800' -%}
                {%- capture sizes -%}
                  (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 1.6667 }}px,
                  (min-width: 750px) calc((100vw - 130px) / 1.667), calc((100vw - 50px) / 1.667)
                {%- endcapture -%}
              {%- else -%}
                {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
                {%- capture sizes -%}
                  (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                  (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                {%- endcapture -%}
              {%- endif -%}
              {% if section.settings.image != blank %}
                {{
                  section.settings.image
                  | image_url: width: 1500
                  | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority, class: 'mobile-hide'
                }}
              {% endif %}
              {% if section.settings.mobile_image != blank %}
                {{
                  section.settings.mobile_image
                  | image_url: width: 1500
                  | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority, class: 'desktop-hide'
                }}
              {% else %}
                {{
                  section.settings.image
                  | image_url: width: 1500
                  | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority, class: 'mobile-image'
                }}
              {% endif %}
            {%- else -%}
              {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
            {%- endif -%}
          </div>
        </div>
        <div class='image-with-text__text-item grid__item'>
          <div
            id='ImageWithText--{{ section.id }}'
            class='image-with-text__content image-with-text__content--top image-with-text__content--desktop-{{ section.settings.desktop_content_alignment }} image-with-text__content--mobile-{{ section.settings.mobile_content_alignment }} image-with-text__content--{{ section.settings.height }} content-container{% unless remove_color_classes %} gradient color-{{ section.settings.color_scheme }}{% else %} background-transparent{% endunless %}'
          >
            {% if top_content_block_size > 0 %}
              <div class='top-content-main'>
                {% for block in section.blocks %}
                  {% case block.type %}
                    {% when 'top_content' %}
                      {% if block.settings.text != blank %}
                        <div id='full-width-text-image-block--{{ forloop.index }}' class='top-content'>
                          {{ block.settings.text }}
                        </div>
                      {% endif %}
                  {% endcase %}
                  <style>
                    #full-width-text-image-block--{{ forloop.index }}.top-content > *{
                      font-size:{{ block.settings.top_content_mobile_font_size }}px;
                    }
                    @media screen and (min-width: 990px) {
                      #full-width-text-image-block--{{ forloop.index }}.top-content > *{
                        font-size:{{ block.settings.top_content_font_size | times: 0.80 | round: 0 }}px;
                      }
                    }
                    @media screen and (min-width: 1280px) {
                      #full-width-text-image-block--{{ forloop.index }}.top-content > *{
                        font-size:{{ block.settings.top_content_font_size }}px;
                      }
                    }
                  </style>
                {% endfor %}
              </div>
            {% endif %}

            {%- for block in section.blocks -%}
              <style>
                 #full-width-text-image-block--{{ forloop.index }}.image-with-text__text > *{
                   font-size:{{ block.settings.text_mobile_font_size }}px;
                 }
                @media screen and (min-width: 990px) {
                   #full-width-text-image-block--{{ forloop.index }}.image-with-text__text > *{
                     font-size:{{ block.settings.text_font_size | times: 0.80 | round: 0 }}px;
                   }
                 }
                 @media screen and (min-width: 1280px) {
                   #full-width-text-image-block--{{ forloop.index }}.image-with-text__text > *{
                     font-size:{{ block.settings.text_font_size }}px;
                   }
                 }
              </style>

              {% case block.type %}
                {%- when 'heading' -%}
                  {% if block.settings.heading != blank %}
                    <{{ block.settings.tag_selecter }}
                      id='full-width-text-image-block--{{ forloop.index }}'
                      class='image-with-text__heading inline-richtext font-secondary md lg-lg'
                      {{ block.shopify_attributes }}
                    >
                      {{ block.settings.heading }}
                    </{{ block.settings.tag_selecter }}>
                  {% endif %}
                {%- when 'text' -%}
                  {% if block.settings.text != blank %}
                    <div
                      id='full-width-text-image-block--{{ forloop.index }}'
                      class='image-with-text__text rte {{ block.settings.text_style }}'
                      {{ block.shopify_attributes }}
                    >
                      {{ block.settings.text }}
                    </div>
                  {% endif %}
                {%- when 'button' -%}
                  {%- if block.settings.button_label != blank and block.settings.button_link != blank -%}
                    <a
                      {% if block.settings.button_link == blank %}
                        role='link' aria-disabled='true'
                      {% else %}
                        href='{{ block.settings.button_link }}'
                      {% endif %}
                      class='button{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}'
                      {{ block.shopify_attributes }}
                    >
                      {{ block.settings.button_label | escape }}
                    </a>
                  {%- endif -%}
              {%- endcase -%}
            {%- endfor -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.full_width_text_image.name",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.full_width_text_image.settings.full_width.label"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-with-text.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "t:sections.full_width_text_image.settings.mobile_image.label"
    },
    {
      "type": "select",
      "id": "height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.image-with-text.settings.height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.image-with-text.settings.height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-with-text.settings.height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-with-text.settings.height.options__4.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.image-with-text.settings.height.label"
    },
    {
      "type": "select",
      "id": "desktop_image_width",
      "options": [
        {
          "value": "small",
          "label": "t:sections.image-with-text.settings.desktop_image_width.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-with-text.settings.desktop_image_width.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-with-text.settings.desktop_image_width.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.image-with-text.settings.desktop_image_width.label",
      "info": "t:sections.image-with-text.settings.desktop_image_width.info"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "image_first",
          "label": "t:sections.image-with-text.settings.layout.options__1.label"
        },
        {
          "value": "text_first",
          "label": "t:sections.image-with-text.settings.layout.options__2.label"
        }
      ],
      "default": "image_first",
      "label": "t:sections.image-with-text.settings.layout.label",
      "info": "t:sections.image-with-text.settings.layout.info"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.image-with-text.settings.desktop_content_alignment.label"
    },
    {
      "type": "select",
      "id": "content_layout",
      "options": [
        {
          "value": "no-overlap",
          "label": "t:sections.image-with-text.settings.content_layout.options__1.label"
        },
        {
          "value": "overlap",
          "label": "t:sections.image-with-text.settings.content_layout.options__2.label"
        }
      ],
      "default": "no-overlap",
      "label": "t:sections.image-with-text.settings.content_layout.label"
    },
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.multirow.settings.container_color_scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.animation.content"
    },
    {
      "type": "select",
      "id": "image_behavior",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.animation.image_behavior.options__1.label"
        },
        {
          "value": "ambient",
          "label": "t:sections.all.animation.image_behavior.options__2.label"
        },
        {
          "value": "zoom-in",
          "label": "t:sections.all.animation.image_behavior.options__4.label"
        }
      ],
      "default": "none",
      "label": "t:sections.all.animation.image_behavior.label"
    },
    {
      "type": "header",
      "content": "t:sections.full_width_text_image.settings.mobile.content"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-with-text.settings.mobile_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-with-text.settings.mobile_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-with-text.settings.mobile_content_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.image-with-text.settings.mobile_content_alignment.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.full_width_text_image.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "t:sections.image-with-text.blocks.heading.settings.heading.label"
        },

        {
          "type": "select",
          "id": "tag_selecter",
          "options": [
            {
              "value": "H1",
              "label": "t:sections.full_width_text_image.blocks.heading.settings.tag_selecter.option_1.label"
            },
            {
              "value": "H2",
              "label": "t:sections.full_width_text_image.blocks.heading.settings.tag_selecter.option_2.label"
            },
            {
              "value": "H3",
              "label": "t:sections.full_width_text_image.blocks.heading.settings.tag_selecter.option_3.label"
            }
          ],
          "default": "H2",
          "label": "t:sections.full_width_text_image.blocks.heading.settings.tag_selecter.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.full_width_text_image.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "t:sections.image-with-text.blocks.text.settings.text.default",
          "label": "t:sections.image-with-text.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.image-with-text.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.image-with-text.blocks.text.settings.text_style.options__2.label"
            }
          ],
          "default": "body",
          "label": "t:sections.image-with-text.blocks.text.settings.text_style.label"
        },
        {
          "type": "range",
          "id": "text_font_size",
          "label": "t:sections.full_width_text_image.blocks.text.settings.text_font_size.label",
          "min": 14,
          "max": 26,
          "step": 2,
          "default": 20,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "text_mobile_font_size",
          "label": "t:sections.full_width_text_image.blocks.text.settings.text_mobile_font_size.label",
          "min": 10,
          "max": 18,
          "step": 2,
          "default": 14,
          "unit": "px"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.image-with-text.blocks.button.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "t:sections.image-with-text.blocks.button.settings.button_label.default",
          "label": "t:sections.image-with-text.blocks.button.settings.button_label.label",
          "info": "t:sections.image-with-text.blocks.button.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.image-with-text.blocks.button.settings.button_link.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "default": false,
          "label": "t:sections.image-with-text.blocks.button.settings.outline_button.label"
        }
      ]
    },
    {
      "type": "top_content",
      "name": "t:sections.full_width_text_image.blocks.top_content.name",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.full_width_text_image.blocks.top_content.settings.text.label"
        },
        {
          "type": "range",
          "id": "top_content_font_size",
          "label": "t:sections.full_width_text_image.blocks.top_content.settings.top_content_font_size.label",
          "min": 10,
          "max": 26,
          "step": 2,
          "default": 20,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "top_content_mobile_font_size",
          "label": "t:sections.full_width_text_image.blocks.top_content.settings.top_content_mobile_font_size.label",
          "min": 10,
          "max": 16,
          "step": 2,
          "default": 10,
          "unit": "px"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Full width text image",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
